@mixin inner {
  padding-left: $width-xs-padding;
  padding-right: $width-xs-padding;
  @include mq(lgMin) {
    width: $lg-min;
    margin-left: auto;
    margin-right: auto;
    padding-left: $width-md-padding;
    padding-right: $width-md-padding;
  }
}

@mixin clearfix {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}
