@charset "UTF-8";

/*==========================================================================*/
/*	Reset Css 
/*==========================================================================*/

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { border: 0; font-size: 100%; font: inherit; vertical-align: baseline; margin: 0; padding: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }

/*==========================================================================*/
/*	Common-Setting
/*==========================================================================*/

html {
	font-size: 62.5%;
	background: none;
}
body, input, select, textarea {
	font-family: Helvetica , Arial, 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','游ゴシック体',YuGothic,'メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
body {
	background: url(../images/common-bg.png) repeat;
	color: #333;
	text-align: left;
	line-height:1.7;
	overflow-x: hidden;
}
@media screen and (max-width: 980px){
	body {
		overflow-x: scroll;
	}
}

input, button, textarea, select, p, blockquote, table, pre, address, ul, ol, dl {
	font-size: 160%;
}
img { display: block; }
address { font-style: normal; line-height: 1.0; }
strong { font-weight: bold; }
em { font-style: italic;}
a { text-decoration: none; color: #333; transition: color .25s;}
a:hover,
a:active { text-decoration: none; color: #9f9e9e }

/*==========================================================================*/
/*	General-Styles
/*==========================================================================*/

.clear { clear: both; }
.cf:before,.cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }

.fl { float: left; }
.fr { float: right;}
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.middle { vertical-align: middle;}
.hidden { overflow: hidden; }

.fs14 { font-size: 140%; }
.fs16 { font-size: 160%; }
.bold { font-weight: bold; }

.mt-20 { margin-top: -20px}
.mt20 { margin-top : 20px; }
.mt60 { margin-top : 60px; }
.pb60 { padding-bottom: 60px;}

.br4 { border-radius: 4px; }
.br8 { border-radius: 8px; }

.hover { transition: opacity .3s; }
.hover:hover { opacity : 0.6; }

.btn { text-align: center; }
.btn a,
.btn input {
	display: inline-block;
	color: #333;
	background: #ffde6a;
	border: none;
	padding: 0 80px;
	line-height: 46px;
	border-radius: 23px;
	transition: all .25s;
}
.btn a:hover,
.btn input:hover {
	opacity: 0.6;
	text-decoration: none;
}
.select {
	padding: 5px 20px;
	border: 1px solid #d2d2d2;
	vertical-align: middle;
	position: relative;
	bottom: 3px;
}
.external:after {
	content: url(../images/common_icon-external.png);
	padding-left: 10px;
	position: relative;
	top: 2px;
}
.arrow-m:before,
.arrow-l:before {
	padding-right: 10px;
	position: relative;
	top: 2px;
}
.arrow-m:before { content: url(../images/common_icon-arrow-m.png); }
.arrow-l:before { content: url(../images/common_icon-arrow-l.png); }

.img-circle { border-radius: 50%; }


/*==========================================================================*/
/* Rayout
/*==========================================================================*/

#main { clear: both; }
.inner {width: 980px; margin: 0 auto; }

section { clear: both; padding-bottom: 60px; }

/*	Header
--------------------------------------------*/

#header {
}

#gnav {
}

.breadcrumbs {
}


/*	Footer
--------------------------------------------*/

#footer {
}

/*	Side Nav
--------------------------------------------*/



/*==========================================================================*/
/*														 Contents																		 */
/*==========================================================================*/

/*	Common Style
--------------------------------------------*/



/* index
--------------------------------------------*/

