<%
var title = "ページのタイトルとか";
var keywords = "キーワード";
var description = "ディスクリプション";
%>

<!-- ここからPC -->
<% if(flag == 'pc'){ %>
<% include common/_header %>

<div id="main">
PCのページの内容
</div>

<% include common/_footer %>
<% } %>
<!-- ここまでPC -->


<!-- ここからSP -->
<% if(flag == 'sp'){ %>
<% include common/_header-sp %>

<div id="main">
SPのページの内容
</div>

<% include common/_footer-sp %>
<% } %>
<!-- ここまでSP -->
