<%
// 相対パスを指定
relativePath =  "./";

// ページ情報を取得
var page = pages.index;
%><%-
include( relativePath + 'inc/_common_header', { page: page } );
%>

<main class="l-main">
ページの内容
</main>

<aside class="l-sub">
サブコンテンツ
</aside>

<%- include( relativePath + 'inc/_common_footer', { page: page } ); %>
