
.btn {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid $color-main;
    color: $color-main !important;
    padding: 15px;
    width: 100%;
    max-width: 400px;
}

@include mq(mdMin) {
    .btn {
        padding: 20px;
    }
}

.btn-fill {
    color: #fff !important;;
    background-color: $color-main;
}

// .btn-fill {
//     color: #fff;
//     background-color: $color-brand;
//     &:before {
//         background-color: #fff;
//     }
//     &:after {
//         color: #fff;
//     }
// }
// @media screen and (max-width: 1024px) {
//     .btn {
//         transition: opacity .3s;
//         &:hover {
//             opacity: .6;
//         }
//     }
// }
// @media print, screen and (min-width: 1025px) {
//     .btn:hover {
//         color: #fff;
//         &:before {
//             width: 100%;
//         }
//         &:after {
//             color: #fff;
//         }
//     }

//     .btn-fill {
//         &:hover {
//             color: $color-brand;
//             &:before {
//                 width: 100%;
//             }
//             &:after {
//                 color: $color-brand;
//             }
//         }
//     }
// }
