.card {
  display: block;
  height: 100%;
  color: #000;
  background-color: #e4e4e4;
  line-height: 1.4;
  &_img {
    img {
        width: 100%;
    }
  }
  &_body {
    padding: 10px 12px;
    border-top: 1px solid #d7d7d7;
  }
  &_caption {
    padding-top: 4px;
    font-size: 1rem;
  }

  &-product {
    position: relative;
    height: 100%;
    &_check {
        position: absolute;
        top: -25px;
        left: 0;
    }
  }


}

@media print, screen and (min-width: $md-min) {
  .card {
    &_caption {
      padding-top: 6px;
      font-size: 1.3rem;
    }

    &-product {
        &_check {
            top: -30px;
        }
      }
  }
}




a.card,
a.imgSet {
  transition: opacity .3s;
  &:hover {
    opacity: .6;
  }
}
