$gutter-xs : 16px;
$gutter-sm : 16px;
$gutter-md : 24px;
$gutter-lg : 32px;

.l-grid {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

// ------------------------------------------
// グリッド幅の設定
// ------------------------------------------

.col-xs-1 { width: calc(8.333% - #{$gutter-xs} ); }
.col-xs-2 { width: calc(16.666% - #{$gutter-xs} ); }
.col-xs-3 { width: calc(25% - #{$gutter-xs} ); }
.col-xs-4 { width: calc(33.333% - #{$gutter-xs} ); }
.col-xs-5 { width: calc(41.666% - #{$gutter-xs} ); }
.col-xs-6 { width: calc(50% - #{$gutter-xs} ); }
.col-xs-7 { width: calc(58.333% - #{$gutter-xs} ); }
.col-xs-8 { width: calc(66.666% - #{$gutter-xs} ); }
.col-xs-9 { width: calc(75% - #{$gutter-xs} ); }
.col-xs-10 { width: calc(83.333% - #{$gutter-xs} ); }
.col-xs-11 { width: calc(91.666% - #{$gutter-xs} ); }
.col-xs-12 { width: calc(100% - #{$gutter-xs} ); }

@include mq(smMin) {
.col-sm-1 { width: calc(8.333% - #{$gutter-sm} ); }
.col-sm-2 { width: calc(16.666% - #{$gutter-sm} ); }
.col-sm-3 { width: calc(25% - #{$gutter-sm} ); }
.col-sm-4 { width: calc(33.333% - #{$gutter-sm} ); }
.col-sm-5 { width: calc(41.666% - #{$gutter-sm} ); }
.col-sm-6 { width: calc(50% - #{$gutter-sm} ); }
.col-sm-7 { width: calc(58.333% - #{$gutter-sm} ); }
.col-sm-8 { width: calc(66.666% - #{$gutter-sm} ); }
.col-sm-9 { width: calc(75% - #{$gutter-sm} ); }
.col-sm-10 { width: calc(83.333% - #{$gutter-sm} ); }
.col-sm-11 { width: calc(91.666% - #{$gutter-sm} ); }
.col-sm-12 { width: calc(100% - #{$gutter-sm} ); }
}

@include mq(mdMin) {
.col-md-1 { width: calc(8.333% - #{$gutter-md} ); }
.col-md-2 { width: calc(16.666% - #{$gutter-md} ); }
.col-md-3 { width: calc(25% - #{$gutter-md} ); }
.col-md-4 { width: calc(33.333% - #{$gutter-md} ); }
.col-md-5 { width: calc(41.666% - #{$gutter-md} ); }
.col-md-6 { width: calc(50% - #{$gutter-md} ); }
.col-md-7 { width: calc(58.333% - #{$gutter-md} ); }
.col-md-8 { width: calc(66.666% - #{$gutter-md} ); }
.col-md-9 { width: calc(75% - #{$gutter-md} ); }
.col-md-10 { width: calc(83.333% - #{$gutter-md} ); }
.col-md-11 { width: calc(91.666% - #{$gutter-md} ); }
.col-md-12 { width: calc(100% - #{$gutter-md} ); }
}

@include mq(lgMin) {
.col-lg-1 { width: calc(8.333% - #{$gutter-lg} ); }
.col-lg-2 { width: calc(16.666% - #{$gutter-lg} ); }
.col-lg-3 { width: calc(25% - #{$gutter-lg} ); }
.col-lg-4 { width: calc(33.333% - #{$gutter-lg} ); }
.col-lg-5 { width: calc(41.666% - #{$gutter-lg} ); }
.col-lg-6 { width: calc(50% - #{$gutter-lg} ); }
.col-lg-7 { width: calc(58.333% - #{$gutter-lg} ); }
.col-lg-8 { width: calc(66.666% - #{$gutter-lg} ); }
.col-lg-9 { width: calc(75% - #{$gutter-lg} ); }
.col-lg-10 { width: calc(83.333% - #{$gutter-lg} ); }
.col-lg-11 { width: calc(91.666% - #{$gutter-lg} ); }
.col-lg-12 { width: calc(100% - #{$gutter-lg} ); }
}


// ------------------------------------------
// 余白の設定
// ------------------------------------------

.l-grid {
    margin-top: -$gutter-xs;
    margin-left: - ( $gutter-xs / 2 );
    margin-right: - ( $gutter-xs / 2 );
    &_col {
        margin-top: $gutter-xs;
        margin-left: $gutter-xs / 2;
        margin-right: $gutter-xs / 2;
        background-color: #eee;
    }
}

@include mq(smMin) {
.l-grid {
    margin-top: -$gutter-sm;
    margin-left: - ( $gutter-sm / 2 );
    margin-right: - ( $gutter-sm / 2 );
    &_col {
        margin-top: $gutter-sm;
        margin-left: $gutter-sm / 2;
        margin-right: $gutter-sm / 2;
    }
}
}

@include mq(mdMin) {
.l-grid {
    margin-top: -$gutter-md;
    margin-left: - ( $gutter-md / 2 );
    margin-right: - ( $gutter-md / 2 );
    &_col {
        margin-top: $gutter-md;
        margin-left: $gutter-md / 2;
        margin-right: $gutter-md / 2;
    }
}
}

@include mq(lgMin) {
.l-grid {
    margin-top: -$gutter-lg;
    margin-left: - ( $gutter-lg / 2 );
    margin-right: - ( $gutter-lg / 2 );
    &_col {
        margin-top: $gutter-lg;
        margin-left: $gutter-lg / 2;
        margin-right: $gutter-lg / 2;
    }
}
}
