$gutter-xs : 16px;
$gutter-sm : 16px;
$gutter-md : 24px;
$gutter-lg : 32px;

.l-tile {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    &_item {
        background-color: #eee;
    }
}

// ------------------------------------------
// グリッド幅の設定
// ------------------------------------------

.tile-xs-1 > .l-tile_item { width: calc(100% - #{$gutter-xs} ); }
.tile-xs-2 > .l-tile_item { width: calc(50% - #{$gutter-xs} ); }
.tile-xs-3 > .l-tile_item { width: calc(33.333% - #{$gutter-xs} ); }
.tile-xs-4 > .l-tile_item { width: calc(25% - #{$gutter-xs} ); }
.tile-xs-5 > .l-tile_item { width: calc(20% - #{$gutter-xs} ); }
.tile-xs-6 > .l-tile_item { width: calc(16.666% - #{$gutter-xs} ); }

@include mq(smMin) {
.tile-sm-1 > .l-tile_item { width: calc(100% - #{$gutter-sm} ); }
.tile-sm-2 > .l-tile_item { width: calc(50% - #{$gutter-sm} ); }
.tile-sm-3 > .l-tile_item { width: calc(33.333% - #{$gutter-sm} ); }
.tile-sm-4 > .l-tile_item { width: calc(25% - #{$gutter-sm} ); }
.tile-sm-5 > .l-tile_item { width: calc(20% - #{$gutter-sm} ); }
.tile-sm-6 > .l-tile_item { width: calc(16.666% - #{$gutter-sm} ); }
}

@include mq(mdMin) {
.tile-md-1 > .l-tile_item { width: calc(100% - #{$gutter-md} ); }
.tile-md-2 > .l-tile_item { width: calc(50% - #{$gutter-md} ); }
.tile-md-3 > .l-tile_item { width: calc(33.333% - #{$gutter-md} ); }
.tile-md-4 > .l-tile_item { width: calc(25% - #{$gutter-md} ); }
.tile-md-5 > .l-tile_item { width: calc(20% - #{$gutter-md} ); }
.tile-md-6 > .l-tile_item { width: calc(16.666% - #{$gutter-md} ); }
}

@include mq(lgMin) {
.tile-lg-1 > .l-tile_item { width: calc(100% - #{$gutter-lg} ); }
.tile-lg-2 > .l-tile_item { width: calc(50% - #{$gutter-lg} ); }
.tile-lg-3 > .l-tile_item { width: calc(33.333% - #{$gutter-lg} ); }
.tile-lg-4 > .l-tile_item { width: calc(25% - #{$gutter-lg} ); }
.tile-lg-5 > .l-tile_item { width: calc(20% - #{$gutter-lg} ); }
.tile-lg-6 > .l-tile_item { width: calc(16.666% - #{$gutter-lg} ); }
}

// ------------------------------------------
// 余白の設定
// ------------------------------------------

.l-tile {
    margin-top: -$gutter-xs;
    margin-left: - ( $gutter-xs / 2 );
    margin-right: - ( $gutter-xs / 2 );
    &_item {
        margin-top: $gutter-xs;
        margin-left: $gutter-xs / 2;
        margin-right: $gutter-xs / 2;
    }
}

@include mq(smMin) {
.l-tile {
    margin-top: -$gutter-sm;
    margin-left: - ( $gutter-sm / 2 );
    margin-right: - ( $gutter-sm / 2 );
    &_item {
        margin-top: $gutter-sm;
        margin-left: $gutter-sm / 2;
        margin-right: $gutter-sm / 2;
    }
}
}

@include mq(mdMin) {
.l-tile {
    margin-top: -$gutter-md;
    margin-left: - ( $gutter-md / 2 );
    margin-right: - ( $gutter-md / 2 );
    &_item {
        margin-top: $gutter-md;
        margin-left: $gutter-md / 2;
        margin-right: $gutter-md / 2;
    }
}
}

@include mq(lgMin) {
.l-tile {
    margin-top: -$gutter-lg;
    margin-left: - ( $gutter-lg / 2 );
    margin-right: - ( $gutter-lg / 2 );
    &_item {
        margin-top: $gutter-lg;
        margin-left: $gutter-lg / 2;
        margin-right: $gutter-lg / 2;
    }
}
}
