/*
# サイト全体で使うCSS
 
全ページで、このCSSを読み込む。
 
*/
@import 'partial/mixin';
 
/*
# 1.ボタン
 
ボタンです
 
## 汎用ボタン
 
    <button class="mod-btn" href="#">ボタン</button>
    <button class="mod-btn :hover" href="#">ボタン(:hover)</button>
 
*/
.mod-btn {
  display: inline-block;
  padding: 5px;
  background-color: white;
  &:hover {
    background-color:gray;
  }
}
 
// ## 特殊なボタン
//
// ```
//     <a class="mod-btn2" href="#">ボタン</a>
//     <a class="mod-btn2 :hover" href="#">ボタン(:hover)</a>
// ```
//
.mod-btn2 {
  display: inline-block;
  padding: 5px;
  background-color: lime;
  &amp;:hover {
  background-color: tomato;
  }
}
 
/*
# 2.ナビゲーション
 
<nav class="mod-nav">
  <a class="mod-nav-item is-active" href="#">Nav1</a>
  <a class="mod-nav-item" href="#">Nav2</a>
  <a class="mod-nav-item" href="#">Nav3</a>
  <a class="mod-nav-item" href="#">Nav4</a>
</nav>
*/
 
.mod-nav {
    overflow: hidden;
}
 
.mod-nav-item {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    background: #ccc;
    &amp;.is-active {
        @include pointer-events(none);
        background-color: tomato;
    }
}