/*--------------------------------------
  Utility Styles
---------------------------------------*/

img.img-full {
    width: 100%;
    max-width: auto;
}

// テキスト要素
.bold {font-weight: bold;}

// 行揃え
.ta-left   { text-align: left; }
.ta-center { text-align: center; }
.ta-right  { text-align: right; }

// フロート / clearfix
.fl-l     { float: left; }
.fl-r     { float: right;}
.clear { clear: both; }
.cf:after {
    content: '';
    clear: both;
    display: block;
}

// 要素タイプ
.d-bl { display: block; }
.d-ib { display: inline-block; }
.d-in { display: inline; }

// 非表示
.hidden {
    display: none;
}
@include mq(xsMax) {
    .hidden-u-sm { display: none; }
}
@include mq(smMax) {
    .hidden-u-md { display: none; }
}
@include mq(mdMax) {
    .hidden-u-lg { display: none; }
}
@include mq(smMin) {
    .hidden-o-sm { display: none; }
}
@include mq(mdMin) {
    .hidden-o-md { display: none; }
}
@include mq(lgMin) {
    .hidden-o-lg { display: none; }
}
