<% var page = {
  title : "ページのタイトル" + site.name,
  keywords : "キーワード",
  desc : "ディスクリプション",
  id : "home",
  url: site.url + ""
} %><%
include ejs/common/_header
%>

<main id="main">
ページの内容
</main>

<% include ejs/common/_footer %>
