<% var page = {
  title : "ページのタイトル" + site.name,
  keywords : "キーワード",
  desc : "ディスクリプション",
  id : "home",
  url: site.url + ""
} %><%
include inc/_common_header
%>

<main class="l-main">
ページの内容
</main>

<aside class="l-sub">
サブコンテンツ
</aside>

<% include inc/_common_footer %>
