<% var page = {
  title : "ページのタイトル" + site.name,
  keywords : "キーワード",
  desc : "ディスクリプション",
  id : "home",
  url: site.url + ""
} %><%
include inc/_common_header
%>

<main id="main">
ページの内容
</main>

<% include inc/_common_footer %>
