/*--------------------------------------
  Common-Setting
---------------------------------------*/

html {
  // font-size: 62.5%;
  font-size: 10px;
  background: none;
}
body, input, select, textarea {
  font-family: Helvetica,Arial,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','游ゴシック体',YuGothic,'メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
body {
  background: $color-bg-body;
  color: $color-secondary;
  text-align: left;
  // todo 説明
  line-height:1.7;
  font-size: 1.4rem;
  // todo 説明
  -webkit-text-size-adjust: 100%;
}
h1 , h2 , h3 , h4 , h5 , h6 {
  // todo 説明
  line-height : 1.4;
}
img {
    // todo 説明
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
strong { font-weight: bold; }
em { font-style: italic;}
a {
    text-decoration: none;
    color: $color-link;
    transition: all .3s;
}

// todo 説明
@media print, screen and (min-width: $lg) {
    a:hover {
        opacity: 0.6;
    }
}

// todo 説明
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
