

/*doc
---
title: 基本仕様
name: 00-base
category: index
---

- HTML文書型：HTML5
- 文字コード：UTF-8（BOM無し）
- 改行コード：CR+LF
- パス記述方式・リンクルール
    - サイト内ページへのリンク、画像パスは「/」始まりのルートパスで記述
    - リンク先ページのファイル名がindex.htmlの場合、URLの記述はindex.htmlを省略し、「/（スラッシュ）」で止める
    - サイト内のコンテンツへは、原則として同一ウインドウ内でのリンク設定にする（target指定なし）
    - 制作対象となるサイトから他サイトのページへリンクを設定する場合、新規の別ウインドウが開くリンク設定をする（target="_blank"）
- レイアウト:レスポンシブウェブデザイン（<a href="#04-breakpoint">ブレイクポイントは下記参照</a>）
*/


/*doc
---
title: 対応ブラウザ
name: 01-browser
category: index
---

- Windows
  - IE9/11
  - edge
  - Firefox(最新版)
  - Chrome(最新版)

- Mac OS
  - Safari(最新版)
  - Firefox(最新版)
  - Chrome(最新版)

- iOS8+
  - Safari

- Android 4.2+(4.3を除く)
  - Android Browser
  - Chrome
*/


/*doc
---
title: ディレクトリ構造・ファイルの命名規則
name: 02-directory
category: index
---

## ディレクトリについて
- xxxxx.co.jp
    - [ xxx ] - 各HTML用ディレクトリ。MTから生成・アップロードしたもの
    - [ assets ] - 画像やCSSなどのリソースをまとめます
        - [ css ]
            - styles.css - サイトで共通で使われるCSSファイル
            - xxxxx.css - 特定のページやカテゴリだけで使用されるcss
        - [ js ]
            - [ lib ] - jQueryなどのライブラリ・プラグインはここに入れる
            - common.js - サイトで共通で使われるJSファイル
            - xxxxx.js - 特定のページやカテゴリだけで使用されるjs(多い場合はフォルダにする)
        - images
            - [common] … サイトで共通で使われる画像ファイルを格納
            - [xxxxx] … 特定のページやカテゴリだけで使用される画像を格納
        - fonts - アイコンフォント

サイトで利用されるリソースはルート直下の 「assets」 ディレクトリ内に格納します。

ただし、CMSで生成・アップロードされるリソースに関しては別とします。

#### 記述規則
ファイル名、ディレクトリ名には半角英数字を使用します。
全角文字、大文字の使用は原則禁止とします。

*/

/*doc
---
title: CSSに関して
name: 03-CSS
category: index
---

### 命名規則

- スタイルはIDを使わずにクラスを使用します。
IDはアンカーリンクやjsの動作用にのみ使用します。

- BEM を採用するがその限りでない。クラス名はキャメルケースとし、エレメントの区切り文字には `_` を、モディファイアの区切り文字には `-` を使用する。

- 一部のクラスには、接頭辞をつける（SMACSS・FLOCSSを参考に）
    - `l-` レイアウト用のクラス
    - `is-` 状態を表すクラス。単体では使わずにマルチクラスの時だけスタイルをつけるようにする。
  JavaScriptを使用して状態が変わるものなどに使用。ex: ` is-current ` `is-open`
    - `js-` JavaScriptで使用されるタグに使用。原則、スタイルはつけずに装飾は別のクラスを使って行う。

- Sassを使用しています。

### レイアウトやモジュールの参考

- [CSSレイアウト](./layout.html)

- [CSSモジュール](./components.html)

*/

/*doc
---
title: ブレイクポイント
name: 04-breakpoint
category: index
---

## ブレイクポイント

基本的に以下の値で設定していますが、必要な場合は他の値も使用する。

- [ xs ] 〜511px ( スマートフォン縦 )
- [ sm ] 512px 〜 767px ( スマートフォン横・小さいタブレットの縦 )
- [ md ] 768px 〜 1019px（ タブレット・ノートPCなど ）
- [ lg ] 1020PX（ ワイドスクリーンのPC ）
  - 1020px以上は余白が広がる仕様で、最大コンテンツ幅は1020px(余白なしで980px)

### 用意しているSass変数
- `$xs-max` : 511px;
- `$sm-min` : 512px;
- `$sm-max` : 767px;
- `$md-min` : 768px;
- `$md-max` : 1019px;
- `$lg-min` : 1020px;

### メディアクエリ記述サンプル

メディアクエリの記述順序はモバイルファーストとする。

`min-width`で指定をする場合は、印刷対策として`print`も設定。
印刷するのは、PCで見てる場合などの大きいサイズが想定されるため。

逆に`max-width`で指定をする場合は、`print`を設定しない。



<pre>
// xsサイズ ( スマートフォン縦 ) 用の記述

@media print, screen and (min-width: $sm-min) {
    // smサイズ ( スマートフォン横・小さいタブレットの縦 ) 用の記述
}

@media print, screen and (min-width: $md-min) {
    // mdサイズ （ タブレット・ノートPCなど ） 用の記述
}

@media print, screen and (min-width: $md-min) {
    // lgサイズ（ ワイドスクリーンのPC ）用の記述
}

@media screen and (max-width: $sm-max) {
    // mdサイズより小さいサイズ用の記述
}
</pre>

*/


/*doc
---
title: JavaScriptに関して
name: 05-javascript
category: index
---


- ライブラリはjQuery(2系)を使用しています。
- 命名は変数・関数ともにキャメルケースで書く
- 出来る限りわかりやすく書く。わかりづらいところはコメントなどを書く
- グローバル変数は出来る限り使わない

*/


/*doc
---
title: Webフォントに関して
name: 06-font
category: index
---

- GoogleFontを使用しています
- アイコンフォントを作成して使用しています

[アイコンフォント一覧](./icon.html)

*/


