.sg-body {
  font-size : 13px;
  color : #333;
}

/*========================================*/
/* Header
/*========================================*/
.sg-header {
  position : fixed;
  top : 0;
  display : flex;
  width : 100%;
  height : 60px;
  padding-right : 20px;
  padding-left : 20px;
  border-bottom : 1px solid #eee; 
  background-color : #333;

  align-items : center;
}

.sg-header_inner {
  position : relative; 
  height : 100%;
}

.sg-name {
  font-size : 18px;
  font-weight : 200;
  /*text-align: center;*/
  display : block;
  /*    display: flex;
    align-items: center;
*/
  color : #fff;
  /*vertical-align: middle;*/
  /*padding: 40px 20px;*/
}

.sg-name img {
  height : 20px;
  margin-right : 10px;
  /*margin-right: 10px*/
}

.sg-gNav {
  position : fixed;
  top : 60px;
  left : 0;
  overflow-y : scroll;
  width : 170px;
  height : calc(100% - 60px);
  /*display: flex;*/
  /*    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
*/
  margin-bottom : 20px; 
  border-right : 1px solid #eee;
  background-color : #fff;
}

.sg-gNav > li {
  list-style : none;
  /*    position: relative;
    margin: 0 6px;*/
}

.sg-gNav > li > a {
  display : block;
  padding : 15px 20px; 
  color : #333;
}

.sg-gNav > li > a:hover {
  background-color : #eee;
}

.sg-gNav > li > a.isCurrent {
  /*border-left: 2px solid #00b088;*/
  background-color : #d9d9d9;
  /*color: #fff;*/
}

.sg-update {
  font-size : 12px;
  position : absolute;
  bottom : 0; 
  width : 100%;
  padding : 12px;
  color : #999;
  border-top : 1px solid #eee;
}

/*========================================*/
/* localNav
/*========================================*/
.sg-localnav {
  position : fixed;
  top : 60px;
  left : 170px;
  overflow-y : scroll; 
  width : 170px;
  height : calc(100% - 60px);
  background-color : #f6f6f6;
}

.sg-localnav a {
  display : block;
  padding : 16px;
  color : #333;
  border-bottom : 1px solid rgba(155, 155, 155, .1);
  /*transition: all .2s;*/
}

/*.sg-localnav a:hover {
    background: #555;
}
@media print, screen and (max-width: 1000px) {
    .sg-localnav {
        display: none;
    }
}
*/
/*========================================*/
/* Main
/*========================================*/
.sg-main {
  position : relative;
  min-height : calc(100% - 60px); 
  margin-top : 60px;
  margin-left : 170px;
}

.sg-main.hasLocalnav {
  margin-left : 340px;
}

/* contents */
.sg-contents {
  /*padding: 0 60px 60px 300px;*/
  font-size : 15px; 
  padding : 50px;
}

@media print, screen and (max-width: 1000px) {
  .sg-contents {
    padding : 0 20px 50px 20px;
  }
}

.sg-contents > h1 {
  font-size : 28px;
  font-weight : bold;
  margin-top : -40px;
  margin-bottom : 20px;
  padding : 90px 0 10px;
  border-bottom : 1px solid #ccc;
}

.sg-contents > h2 {
  font-size : 24px;
  margin-top : 30px;
  margin-bottom : 10px;
}

.sg-contents > h3 {
  font-size : 17px;
  margin-top : 15px;
  margin-bottom : 5px;
}

.sg-contents > h4 {
  font-size : 16px;
  margin-top : 15px;
  margin-bottom : 5px;
}

.sg-contents > h5 {
  font-size : 14px;
  margin-top : 10px;
  margin-bottom : 5px;
}

.sg-contents > p , .sg-contents > ul , .sg-contents > ol {
  margin-bottom : 20px;
}

.sg-contents > ul li , .sg-contents > ol li {
  margin-left : 20px;
}

.sg-contents > ul li ul , .sg-contents > ul li ol , .sg-contents > ol li ul , .sg-contents > ol li ol {
  margin-bottom : 0;
}

.sg-contents > ul li ul li , .sg-contents > ul li ol li , .sg-contents > ol li ul li , .sg-contents > ol li ol li {
  margin-left : 15px;
}

.sg-contents > ul li {
  padding-top : 3px;
  padding-bottom : 3px;
  list-style-type : disc;
}

.sg-contents > ul li ul li {
  list-style-type : circle;
}

.sg-contents > ul li ol li {
  list-style-type : decimal;
}

.sg-contents > ol li {
  list-style-type : decimal;
}

.sg-contents > ol li ul li {
  list-style-type : circle;
}

.sg-contents > blockquote {
  margin : 0 0 0 2em;
  padding : 0 0 0 4em;
  color : #ccc;
  border-left : 3px solid #eee;
}

.sg-contents > hr {
  height : 0;
  margin : 2em 0;
  border : none;
  border-top : 1px dashed #eee;
}

.sg-contents pre {
  font-family : Consolas, 'Liberation Mono', Courier, monospace;
  /*background-color: rgba(0, 0, 0, .07);*/
  font-size : 13px;
  overflow : auto;
  margin : 20px 0;
  padding : 20px;
  color : #333; 
  border-radius : 5px;
}

.aaa pre {
  background-color : rgba(0, 0, 0, .07);
}

.sg-contents code {
  font-family : Consolas, 'Liberation Mono', Courier, monospace;
  font-size : 13px;
  /*background-color: rgba(0, 0, 0, .07);*/
  position : relative;
  top : -2px;
  display : inline-block;
  padding : 0 .5em;
  white-space : nowrap;
  border-radius : 3px;
}

.sg-contents pre code {
  font-size : 14px;
  line-height : 1;
  display : inline;
  padding : 0;
  white-space : pre;
  border-radius : 0;
  background-color : inherit;
  box-shadow : none;
}

.sg-contents .example {
  margin-top : 30px;
  padding : 30px;
  border : 1px solid #e6e6e6;
  border-bottom : none;
}

.sg-contents .codeblock {
  margin-bottom : 40px;
}

.sg-contents .codeblock pre {
  margin : 0;
  border-radius : 0 0 5px 5px;
}

.sg-colors {
  display : flex;

  flex-wrap : wrap;
}

.sg-color {
  width : 23%;
  margin-top : 20px; 
  margin-left : 2.666%;
  border : 1px solid #e6e6e6;
}

.sg-color:nth-child(4n + 1) {
  margin-left : 0;
}

.sg-color_sample {
  width : 100%;
  height : 80px;
}

.sg-color_txt {
  line-height : 1.6; 
  padding : 15px;
}

.sg-glyph {
  display : flex;
  margin-bottom : 50px; 

  flex-wrap : wrap;
}

.sg-glyph_item {
  width : 16.666%;
  padding-bottom : 12px; 
  text-align : center;
  border : 1px solid #fff;
  background-color : rgba(0, 0, 0, .07);
}

.sg-glyph_icon {
  font-size : 36px;
  display : block; 
  padding : 30px 0 20px;
}

.sg-glyph span {
  font-size : 13px;
  display : block !important;
}

/*========================================*/
/* Footer
/*========================================*/
.sg-footer {
  font-size : 11px;
  position : absolute;
  z-index : 10; 
  bottom : 0;
  width : 100%;
  padding : 20px;
  text-align : right;
  color : #999;
  background-color : #f6f6f6;
}