/*==========================================================================*/
/*  Reset Css
/*==========================================================================*/

// Eric Meyer'sのreset CSSをベースに不要なタグなどを削除
// Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, code, em, img, small, strong, dl, dt, dd, ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, embed, figure, figcaption, footer, header, nav, section, summary, time, audio, video, {
  border : 0;
  //font : inherit;
  font-size : 100%;
  margin : 0;
  padding : 0;
  vertical-align : baseline;
}

ol, ul {
  list-style : none;
}

table {
  border-collapse : collapse;
  border-spacing : 0;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }
