// Colors
// --------------------------------------------------

$color-main : #000;
$color-secondary : #333;
$color-link : #666;
$color-bg-body : #fff;

// Font
// --------------------------------------------------

$font-gothic : Helvetica,Arial,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','游ゴシック体',YuGothic,'メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
$font-mincho : 'Palatino Linotype','游明朝',YuMincho,'ヒラギノ明朝 ProN W3','Hiragino Mincho ProN','HG明朝E','ＭＳ Ｐ明朝','ＭＳ 明朝',serif;


//$color-xx : #fff;

// Media query
// --------------------------------------------------

// todo 基本設定を検討

$sm-min : 512px;
$md-min : 768px;
$lg-min : 1000px;

$xs-max : ($sm-min - 1);
$sm-max : ($md-min - 1);
$md-max : ($lg-min - 1);

// xs 〜 511px
// sm 512px 〜 767px
// md 768px 〜 999px
// lg 1000px 〜


// Width
// --------------------------------------------------

$width-main-inner : 1000px;
$width-main-padding : 30px;
$width-main : $width-main-inner + ($width-main-padding * 2);
