.card {
  display: block;
  color: $color-txt;
  border: 1px solid #e6e6e6;
  &_img {
    width: 100%;
  }
  &_body {
    padding: 15px;
  }
  &_ttl {
    font-weight: bold;
    font-size: 1.8rem;
  }
  &_txt {
  }
}

