
.mb--xs { margin-bottom: 5px; }
.mb--sm { margin-bottom: 10px; }
.mb--md { margin-bottom: 20px; }
.mb--lg { margin-bottom: 30px; }
.mb--xl { margin-bottom: 40px; }

@media print, screen and (min-width: 768px) {
  .mb--xs { margin-bottom: 10px; }
  .mb--sm { margin-bottom: 20px; }
  .mb--md { margin-bottom: 40px; }
  .mb--lg { margin-bottom: 60px; }
  .mb--xl { margin-bottom: 80px; }
}


.hidden {
  display: none;
}
@media screen and (max-width: 767px) {
  .hidden-sp { display: none; }
}
@media print, screen and (min-width: 768px) {
  .hidden-pc { display: none; }
}
