.table {
  width: 100%;
  border-collapse: collapse;
  th, td {
    vertical-align: middle;
    border: 1px solid #e6e6e6;
    padding: 15px;
  }
  th {
    text-align: left;
  }
  td {
  }
}

@include mq(mdMin) {
    .table {
      th, td {
        padding: 20px;
      }
    }
}
