/*--------------------------------------
  Utility Styles
---------------------------------------*/

.clear { clear: both; }
.cf:before,.cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }

.fl-l     { float: left; }
.fl-r     { float: right;}
.ta-left   { text-align: left; }
.ta-center { text-align: center; }
.ta-right  { text-align: right; }


// .img-l {
//     float: left;
//     margin-right: 40px;
// }
// .img-r {
//     float: right;
//     margin-left: 40px;
// }

.hidden {
    display: none;

    // Sサイズ以下の横幅の時に非表示
    @media (max-width: $sp) {
      &-s {
        display : none;
        }
    }

    // Lサイズ以下の横幅の時に非表示
    @media (max-width: $pc) {
      &-s-m {
        display : none;
        }
    }

    // Mサイズ以上の横幅の時に非表示
    @media (min-width: $tablet) {
      &-m {
        display : none;
        }
    }

    // Lサイズ以上の横幅の時に非表示
    @media (min-width: $pc) {
      &-l {
        display : none;
        }
    }
}

.br {
    // Sサイズ以下の横幅の時に強制的に改行
    @media (max-width: $sp) {
      &-s {
        display : block;
        }
    }

    // Lサイズ以下の横幅の時に強制的に改行
    @media (max-width: $pc) {
      &-s-m {
        display : block;
        }
    }

    // Mサイズ以上の横幅の時に強制的に改行
    @media (min-width: $tablet) {
      &-m {
        display : block;
        }
    }

    // Lサイズ以上の横幅の時に強制的に改行
    @media (min-width: $pc) {
      &-l {
        display : block;
        }
    }
}
