<%
// ファイル名から開発環境のルートを取って相対パスを作成する
var pathDepth = filename.split(site.developDir)[1].split('/').length - 1;
relativePath = (pathDepth > 0) ? "" : "./";
while(1 <= pathDepth){ relativePath += "../"; pathDepth--; }

// ページ情報を取得
var page = pages.index;
%><%-
include( relativePath + 'inc/_common_header', { page: page } );
%>

<main class="l-main">
ページの内容
</main>

<aside class="l-sub">
サブコンテンツ
</aside>

<%- include( relativePath + 'inc/_common_footer', { page: page } ); %>
