/*doc
---
title: アイコンフォント
name: 00-iconfont
category: icon
---

<div class="sg-glyph"><% _.each(glyphs, function(glyph) { %>
  <div class="sg-glyph_item">
    <div class="sg-glyph_icon <%= className %> <%= className %>-<%= glyph.name %>"></div>
    <span>.<%= className %>-<%= glyph.name %></span>
    <span><%= glyph.unicode[0].charCodeAt(0).toString(16).toUpperCase() %></span>
  </div><% }); %>
</div>

```example
<i class="icon-arrow-right"></i> iタグにクラス付与でアイコンを表示する
```

*/
