/* Layout
---------------------------------------*/

.l-wrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.l-inner {

}


/* Header
---------------------------------------*/

.l-header {
    background-color: #eee;
}

/* Footer
---------------------------------------*/

.l-footer {
    background-color: #eee;
}


/* Contents
---------------------------------------*/

.l-contents {

}


/* Main Contants
---------------------------------------*/

.l-main {

}


/* Side Contents
---------------------------------------*/

.l-side {

}


/* Section
---------------------------------------*/

.l-sec {

}
