/*doc
---
title: アイコンフォント
name: 00-iconfont
category: icon
---

<div class="sg-glyph">
  <div class="sg-glyph_item">
    <div class="sg-glyph_icon icon icon-arrow-down"></div>
    <span>.icon-arrow-down</span>
    <span>EA01</span>
  </div>
  <div class="sg-glyph_item">
    <div class="sg-glyph_icon icon icon-arrow-left"></div>
    <span>.icon-arrow-left</span>
    <span>EA02</span>
  </div>
  <div class="sg-glyph_item">
    <div class="sg-glyph_icon icon icon-arrow-right"></div>
    <span>.icon-arrow-right</span>
    <span>EA03</span>
  </div>
  <div class="sg-glyph_item">
    <div class="sg-glyph_icon icon icon-arrow-up"></div>
    <span>.icon-arrow-up</span>
    <span>EA04</span>
  </div>
</div>

```html
<i class="icon-arrow-right" aria-label="右矢印"></i> iタグにクラス付与でアイコンを表示する
```

*/